{% extends 'base.html' %}

{% load static %}

{% block title %}Assignment Response{% endblock title %}


{% block body %}
<div class="m-3">
    <table class="table table-success table-striped table-hover table-bordered border-dark">
        <tr>
            <th>Sr. No.</th>
            <th>Student Name</th>
            <th>Email</th>
            <th>Link</th>
            {% if request.user.is_staff %}
            <th>Actions</th>
            {% endif %}
        </tr>
        {% for ar in ars %}
            <tr>
                <td> {{ forloop.counter }} </td>
                <td> {{ ar.student.name }} </td>
                <td> {{ ar.student.email }} </td>
                <td> <a href="{{ ar.assres.url }}">View Assignment</a> </td>
                {% if request.user.is_staff %}
                <td class="d-flex justify-content-center">
                    <!-- <a href="/deleteresponse/{{ar.id}}" class="btn btn-danger"><span class="bi bi-trash-fill"></span></a> -->
                    <a href="/deleteassignment/{{ar.id}}" class="btn btn-danger"><span class="bi bi-trash-fill"></span></a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock body %}