{% extends 'base.html' %}
{% load static %}


{% block title %}Assignment{% endblock title %}
    

{% block body %}


{% comment %} <p style="font-weight: bold; padding-top:25px;" class="text-center"><font size="4"> Click the following link to see <a href="html/assignment-questions.html"> Assignment Questions</a> make it's pdf and submit with your email.</font></p> {% endcomment %}
<p style="font-weight: bold; padding-top:25px;" class="text-center"><font size="4"> Click the following link to see <a href="/assignment"> Assignment Questions</a> make it's pdf and submit with your email.</font></p>

<div class="d-flex justify-content-center mt-2 mb-2" style="height: 480px;">
    <form class="w-50 p-3 border border-1 border-dark position-relative bg-light" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3 form-group">
            <input type="hidden" id="aId" name="aId" value="{{ assignment.id }}">
        </div>
        <div class="mb-3 form-group">
            <label for="exampleInputPassword1" class="form-label">Upload Your Assignment</label>
            <input type="file" class="form-control" id="exampleInputPassword1" name="assres">
        </div>
        <input class="btn btn-primary w-50 d-flex justify-content-center align-items-center mt-3 mb-3" style="margin: 0px auto;" type="submit" value="Add" name="Add">
    </form>
</div>

{% endblock body %}
