{% extends 'base.html' %}
{% load static %}


{% block title %}Assignment{% endblock title %}
    


{% block body %}


<div class="d-flex justify-content-center align-items-center" style="height: 600px;">
    <form class="w-50 p-3 border border-1 border-dark" style="background-color: white;">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Upload Your Assignment</label>
            <input type="file" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>



{% endblock body %}
