{% extends 'base.html' %}
{% load static %}

{% block title %}Notes{% endblock title %}

{% block body %}
<div class="d-flex justify-content-center align-items-center" style="height: 600px;">
    <form class="w-50 p-3 border border-1 border-dark" style="background-color: white;">
        <h2>...... Notes ......</h2>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Upload Notes</label>
            <input type="file" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>
{% endblock body %}